.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 15);
    display: flex;
    gap: 50px;
    height: 70px;
}

.container-navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 7px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    transition: 0.3s;
}

.container-navbar a:hover {
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}