.container-mudar-dia {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    height: 100vh;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-image: url(../public/img/fundo-dia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-mudar-dia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(187, 187, 187);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}